 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>Good day!  My name is Tonny.  Born and raised in Windsor, ON (with a few years of my childhood
                        in Montréal and Toronto).  My passion broadly ranges over the sciences, engineering, and design.  </p>
                </div>
                <div class="col-lg-4">
                    <p>Currently in my 4th year of Computer Engineering and International Development Studies at the Lassonde School of Engineering at York University.  
                    I've recently taken a siginificant interest in UX/UI and machine learning and would love to be involved in  any related projects.  <a href="#contact">Let's talk!</a></p>
                </div>
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <a href="TonnyLay_Resume.pdf" class="btn btn-lg btn-outline">
                        <i class="fa fa-download"></i> Resume
                    </a>
                </div>
            </div>
        </div>
    </section>