 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>Good day!  My name is Tonny (pronounced as Tony).  Born and raised in Windsor, ON (with a few years of my childhood
                        in Montréal and Toronto).  My passion broadly ranges over the sciences, engineering, and design.  </p>
                    <p>Currently in my 4th year of Computer Engineering and International Development Studies at the Lassonde School of Engineering at York University.  
                    I've recently taken a siginificant interest in UX/UI and machine learning and would love to be involved in  any related projects.  <a href="#contact" style="color: #FFFF00;">Let's talk!</a></p>
                </div>
                <div class="col-lg-4">
                    <p>Some of my skills include:</p>
                    <p><ul>
                        <li>Java, Python, JavaScript, MATLAB</li>
                        <li>HTML5, CSS3</li>
                        <li>Photoshop, Illustrator</li>
                        <li>Spring MVC, AngularJS</li>
                    </ul></p>
                    <p>
                    <a href="TonnyLay_Resume.pdf" class="btn btn-lg btn-outline text-center">
                        <i class="fa fa-download"></i> Resume
                    </a></p>
                </div>
            </div>
        </div>
    </section>